body {
    background-image:url("../image/background.jpg");
    background-size: cover;
    
}

table {
    width: 750px;
    margin: 2em auto;
    
    table-layout: fixed;
    text-align: center;
    font-family: sans-serif;

}

th {
    background:lightskyblue;
    color: #fff;
    margin: 2em auto;
    padding: 10px;
}

td {
    width: 10em;
    padding: 15px;
}

tbody {
    background: #ccc;
}

#myTable tr:hover{
    background-color: lightblue;
}
div.pager {
    text-align: center;
    margin: 0 1px;
}

div.pager span {
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    line-height: 1.8;
    text-align: center;
    cursor: pointer;
    background: grey;
    color: #fff;
    margin-right: 0.5em;
}

div.pager span.active {
    background: papayawhip;
}
.pagination a {
    color:black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

#textField1{
    visibility: hidden;
}